<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Attractions with free admission ></a>
  <ul id="id_places" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li value='lodging'> Hotel</li>
    <li class="divider"></li>
    <li value='art_gallery'> Art gallery</li>
    <li class="divider"></li>
    <li value='atm'> Atm</li>
    <li class="divider"></li>
    <li value='bar'> Bar</li>
    <li class="divider"></li>
    <li value='bowling_alley'> Bowling alley</li>
    <li class="divider"></li>
    <li value='cafe'> Cafe</li>
    <li class="divider"></li>
    <li value='casino'> Casino</li>
    <li class="divider"></li>
    <li value='city_hall'> Sity hall</li>
    <li class="divider"></li>
    <li value='courthouse'> Courthouse</li>
    <li class="divider"></li>
    <li value='food'> Food</li>
    <li class="divider"></li>
    <li value='movie_theater'> Movie theater</li>
    <li class="divider"></li>
    <li value='museum'> Museum</li>
    <li class="divider"></li>
    <li value='night_club'> Night club</li>
    <li class="divider"></li>
    <li value='restaurant'> Restaurant</li>
    <li class="divider"></li>
    <li value='spa'> Spa></li>
    <li class="divider"></li>
    <li value='stadium'> Stadium</li>
    <li class="divider"></li>
    <li value='zoo'> Zoo</li>
  </ul>
</div>


